@media screen and (min-width: 768px) {

  .hamburger {
    display: none;
  }

  /* NAVIGATION */

  .navigation {
    display: block;
    background-color: var(--primary-color);
    padding-left: 0.5rem;
  }

  .navigation ul {
    display: flex;
    justify-content: flex-start;
  }

  .navigation li {
    flex: 0 0 auto;
  }

  .navigation a {
    border: none;
    padding: 0.7rem 1rem;
  }

  /* MAIN */

  main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.5rem;
  }

  .top-sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .card p {
    min-height: 140px;
  }

  /* BUTTONS */

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* COURSES */

  #courseContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  .course-card {
    margin-bottom: 0;
  }
}